import init.lge-shared.rc

on fs
    mount_all fstab.m4

    swapon_all fstab.m4

on early-boot
 # LGE_CHANGE_S  : ATCMD_GKPD 2011-12-28,[myunghwan.kim@lge.com]
 # M4 device event permission has been changed 
    chmod 0777 /dev/input/event0
    chmod 0777 /dev/input/event5
    chmod 0777 /dev/input/event3
 # LGE_CHANGE_E : ATCMD_GKPD

on boot
    chown system system /sys/class/input/input2/range
    chown system system /sys/class/input/input2/bandwidth
    chown system system /sys/class/input/input2/mode
    chown system system /sys/class/input/input2/value
    chown system system /sys/class/input/input2/delay
    chown system system /sys/class/input/input2/update
    chown system system /sys/class/input/input2/selftest
    chown system system /sys/class/input/input2/offset_filt_x
    chown system system /sys/class/input/input2/offset_filt_y
    chown system system /sys/class/input/input2/offset_filt_z
    chown system system /sys/class/input/input2/fast_calibration_x
    chown system system /sys/class/input/input2/fast_calibration_y
    chown system system /sys/class/input/input2/fast_calibration_z
    chown system system /sys/class/input/input2/eeprom_writing
    chown system system /sys/class/input/input2/softreset
    chown system system /sys/class/input/input3/range
    chown system system /sys/class/input/input3/bandwidth
    chown system system /sys/class/input/input3/mode
    chown system system /sys/class/input/input3/value
    chown system system /sys/class/input/input3/delay
    chown system system /sys/class/input/input3/update
    chown system system /sys/class/input/input3/selftest
    chown system system /sys/class/input/input3/offset_filt_x
    chown system system /sys/class/input/input3/offset_filt_y
    chown system system /sys/class/input/input3/offset_filt_z
    chown system system /sys/class/input/input3/fast_calibration_x
    chown system system /sys/class/input/input3/fast_calibration_y
    chown system system /sys/class/input/input3/fast_calibration_z
    chown system system /sys/class/input/input3/eeprom_writing
    chown system system /sys/class/input/input3/softreset
    chown system system /sys/devices/platform/i2c-gpio.6/i2c-6/6-0044/enable

    write /proc/sys/vm/page-cluster 0

# Proxi sensor //eee3114.lee@lge.com
    chown system system /sys/bus/i2c/drivers/proximity_gp2ap/6-0044/enable
    chmod 0660 /sys/bus/i2c/drivers/proximity_gp2ap/6-0044/enable

service sensord /system/bin/sensord  
    class late_start
        oneshot 

## Power profiles (CM QS tile)

# Powersave
on property:sys.perf.profile=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "conservative"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "800000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "122880"

# Balanced
on property:sys.perf.profile=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "smartassH3"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "800000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "245760"

# High performance
on property:sys.perf.profile=2
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "smartass"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "800000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "320000"
